{% extends "base.html" %}
{% block body %}
<body class="homepage">
    <!-- Header -->

<div class="row-fluid">
  <div class="span12">
    <ul class="breadcrumb-beauty">
      <li>
        <a href="index.html"><span class="fs1" aria-hidden="true" data-icon="&#xe000;"></span> Configuration</a>
      </li>
    </ul>
  </div>
</div>
    <!-- Intro -->
    <div id="intro-wrapper" class="wrapper style1">
        <section id="intro" class="container">
            <form action="{{url_for('config')}}" method="POST">
                <h2>Interface Mode</h2>
                <input type="submit" name="submit" value="Select Interface" />
                <br></br>
                <h2>Learning Mode</h2>
                {% if learning == True %}:
	                    	<input type="submit" name="submit" value="Start Learning" disabled/>
	                    {% else %}
	                    	<input type="submit" name="submit" value="Start Learning" />
                            <input type="hidden" name="hidden" value="True" />
	                    {% endif %}
                <input type="submit" name="submit" value="Stop Learning" />
                <br></br>
                {% for message in get_flashed_messages() %}
                    {{message}}
                {% endfor %}
            </form>
        </section>
    </div>

</body>
{% endblock %}