﻿

{% extends "base.html" %}
{% block body %}

<body class="homepage">
    <!-- Header -->
<div class="row-fluid">
  <div class="span12">
    <ul class="breadcrumb-beauty">
      <li>
        <a href="index.html"><span class="fs1" aria-hidden="true" data-icon="&#xe000;"></span> Sniffer</a>
      </li>
    </ul>
  </div>
</div>
    <!-- Intro -->
    <div id="intro-wrapper" class="wrapper style1">
        <section id="intro" class="container">
            <h1>Sniff the network for attacks</h1>
            <h4>make sure to set the interface first in the config page</h4>

            <form action="{{url_for('sniffer')}}" method="POST">

	            <input id="sniff" type="submit" value="RUN!" />
                <input type="submit" value="stop" />
            </form>
             <ul id="output"></ul>
        </section>
    </div>
</body>

{% endblock %}

