

{% extends "base.html" %}
{% block body %}
<div class="row-fluid">
  <div class="span12">
    <ul class="breadcrumb-beauty">
      <li>
        <a href="index.html"><span class="fs1" aria-hidden="true" data-icon="&#xe000;"></span> Edit Router Database</a>
      </li>
    </ul>
  </div>
</div>

<body class="homepage">
	<!-- Header -->

	<!-- Intro -->
	<div id="intro-wrapper" class="wrapper style1">
		<section id="intro" class="container">
			<h1>Router Database</h1>
			<br>
			<form action="{{url_for('editRDB')}}" method="POST">
                <textarea rows="4" cols="100" name="message">{{message}}</textarea>
                <br>
				<input type="submit" value="RUN!" />
			</form>
		</section>

	</div>

</body>
{% endblock %}

